
/* Quelle: FontAwesome*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    font-weight: normal;
    font-style: normal;
}

/*styles*/
body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Rajdhani', sans-serif;
    background-color: #222;
    font-weight:400;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Droid Sans', Arial, sans-serif;
    font-weight: 700;
}

p {
    /*margin: 0!important;*/
}

/* Section */
section {
    padding: 100px 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.section-avatar {
    padding-top: 14em ;
}

/*TODO: Set fullscreen via JS*/
.fullscreen {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
}

/* left section */
.screen-left {
    background-color: #1f1f1f;
    color: #f5f5f5;
}

/* right section */
.screen-right {
    background-color: #f5f5f5;
    color: #1f1f1f;
}

/* draggable */
.draggable {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;

    /*animation*/
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.draggable-horizontal {
    width: 30px;
    height: 100%;
    z-index: 550;
    cursor: col-resize;
}

.draggable-vertical {
    width: 100%;
    height: 30px;
    z-index: 500;
    cursor: row-resize;
}

.draggable:hover,
.draggable:active,
.draggable:focus{
    background: rgba(255, 255, 255, 0.5);
}

.draggable-bottom,
.draggable-top {
    background: rgba(24, 166, 140, .8);
    color: rgba(24, 166, 140, .8);
}

/* Slider Icon Top */
@-webkit-keyframes slideInTop { from { top: -1em; opacity: 0; } to { top:.25em;  opacity: 1;  } }
@-moz-keyframes slideInTop { from { top:-1em; opacity: 0; } to { top:.25em;  opacity: 1; } }
@keyframes slideIdTop { from { top:-1em; opacity: 0; } to { top:.25em;  opacity: 1;} }

.draggable-top::before {
    font-family: FontAwesome;
    font-size: 3em;
    position: absolute;
    left: 50%;
    content: "\f078";
    display: inline-block;
    top:-1em;
    opacity: 0;
    -webkit-animation: slideInTop ease-in 1;
    -moz-animation: slideInTop ease-in 1;
    animation: slideInTop ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    animation-duration: .7s;
}

/* Slider Icon bottom */
@-webkit-keyframes slideInBottom { from { bottom: -1em; opacity: 0; } to { bottom:.35em;  opacity: 1;  } }
@-moz-keyframes slideInBottom { from { bottom:-1em; opacity: 0; } to { bottom:.35em;  opacity: 1; } }
@keyframes slideInBottom { from { bottom:-1em; opacity: 0; } to { bottom:.35em;  opacity: 1;} }

.draggable-bottom::before {
    font-family: FontAwesome;
    font-size: 3em;
    position: absolute;
    left: 50%;
    content: "\f077";
    display: inline-block;
    bottom: -1em;
    opacity: 0;
    -webkit-animation: slideInBottom ease-in 1;
    -moz-animation: slideInBottom ease-in 1;
    animation: slideInBottom ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    animation-duration: .7s;
}


.draggable-right{
    background: rgba(254, 254, 254, .8) ;
    color: rgba(254, 254, 254, .8) ;
}

/* Slider Icon Right */
@-webkit-keyframes slideInRight { from { right: -1em; opacity: 0; } to { right:.75em;  opacity: 1;  } }
@-moz-keyframes slideInRight { from { right: -1em; opacity: 0; } to { right:.75em;  opacity: 1;  } }
@keyframes slideInRight { from { right: -1em; opacity: 0; } to { right:.75em;  opacity: 1;  } }

.draggable-right::before {
    font-family: FontAwesome;
    font-size: 3em;
    position: absolute;
    top: 50%;
    content: "\f053";
    display: inline-block;
    right: -1em;
    opacity: 0;
    -webkit-animation: slideInRight ease-in 1;
    -moz-animation: slideInRight ease-in 1;
    animation: slideInRight ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    animation-duration: .7s;
}


.draggable-left {
    background: rgba(31,31,31, .8);
    color: rgba(31,31,31, .8);
}

/* Slider Icon left */
@-webkit-keyframes slideInLeft { from { left: -1em; opacity: 0; } to { left:.75em;  opacity: 1;  } }
@-moz-keyframes slideInLeft { from { left: -1em; opacity: 0; } to { left:.75em;  opacity: 1;  } }
@keyframes slideInLeft { from { left: -1em; opacity: 0; } to { left:.75em;  opacity: 1;  } }

.draggable-left::before {
    font-family: FontAwesome;
    font-size: 3em;
    position: absolute;
    top: 50%;
    content: "\f054";
    display: inline-block;
    right: -1em;
    opacity: 0;
    -webkit-animation: slideInLeft ease-in 1;
    -moz-animation: slideInLeft ease-in 1;
    animation: slideInLeft ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    animation-duration: .7s;
}
/* navigation */
.navigation {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
}

.position {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: rgba(200,200,200,.3);

    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}


.active-slide {
    background: rgba(200,200,200,.9);
}

/*home icon*/

.icon-rotate{
    -webkit-transform: rotate(-90deg);
}

.icon-home{
    opacity: 0.7;
    font-size: 2em;
    position: absolute !important;
    top: 25px !important;
    left: 60px !important;
    z-index: 1000;


    /* test anim */
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.icon-left {
    color: #f5f5f5;
}

.icon-right {
    color: #1f1f1f;
}

/*artist*/

.avatar{
    margin-top: 2em;
    margin-bottom: 2em;
}

.avatar-header{
    letter-spacing: 0.5em;
    font-weight: normal;
}

.quote {
    quotes: "»" "«";
    font-size: 1.3em;
    line-height: 1.5;
}

.quote:before,
.quote:after{
    font: 1.5em/150% 'Rajdhani', sans-serif;
    color: lightgrey;
}

.quote:before{
    content: open-quote;
}

.quote:after{
    content: close-quote;
}

/* beacon */
/*
 * Quelle: http://codepen.io/agmason/pen/ytqoD
 */

.beacon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    z-index: 300;
    cursor: pointer;
}

.beacon{
    position: relative;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background:  rgba(24, 166, 140, .8);
    border-radius: 200px;
}

.beacon-tooltip {
    font-size: larger;
    color: rgba(255, 255, 255, .8);
    font-weight: bold;
}

@-webkit-keyframes ping{
    0%{
        opacity: 1;
        border-color: rgba(24, 166, 140, .5);
    }

    100%{
        transform: scale(2,2);
        opacity: 0;
        border-color:  rgba(24, 166, 140, .2);
    }
}

.ping {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    border-size: 1px;
    border-color:  rgba(24, 166, 140, .5);
}
.ping1 {
    -webkit-animation:   ping 2s infinite 0s;
    -moz-animation:      ping 2s infinite 0s;
    -o-animation:        ping 2s infinite 0s;
    animation:           ping 2s infinite 0s;
}
.ping2 {
    -webkit-animation:   ping 2s infinite 0.25s;
    -moz-animation:      ping 2s infinite 0.25s;
    -o-animation:        ping 2s infinite 0.25s;
    animation:           ping 2s infinite 0.25s;
}
.ping3 {
    -webkit-animation:   ping 2s infinite 0.5s;
    -moz-animation:      ping 2s infinite 0.5s;
    -o-animation:        ping 2s infinite 0.5s;
    animation:           ping 2s infinite 0.5s;
}

/* täääst */

/*
.first {
    background: red!important;
}

.second  {
    background: orange!important;;
}

.third {
    background: green!important;;
}

.fourth {
    background: blue!important;;
}
*/

