<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/digitalworks.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600|Roboto+Condensed:400,300|Noticia+Text:400,700'
          rel='stylesheet' type='text/css'>
    <title>Digital Works</title>
</head>
<body class="main">

<section class="first fullscreen screen-left" id="first">
    <!-- template -->
    <div class="container section-avatar">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3 class="avatar-header">Prozesse</h3>
                <h2 class="avatar-header">Franz Mattuschka</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <img src="http://placehold.it/150x150" class="img-circle img-responsive center-block avatar">
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-10 col-md-offset-1">
                <p class="quote">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>
        </div>
    </div>
    <!-- end template -->
</section>
<section class="second fullscreen screen-right" id="second">
    <!-- template -->
</section>
<section class="third fullscreen screen-left" id="third">
    <!-- template -->
</section>
<section class="fourth fullscreen screen-right" id="fourth">
    <!-- template -->
</section>


<script src="../js/jquery.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/draggabilly.min.js"></script>
<script src="../js/slide-setting.js"></script>
<script src="../js/digitalworks.js"></script>
</body>
</html>