<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/digital-works.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600|Roboto+Condensed:400,300|Noticia+Text:400,700'
          rel='stylesheet' type='text/css'>
    <title>Digital Works</title>
</head>
<body class="main">
<div class="location hide"></div>
<section class="first fullscreen screen-left" id="first">
    <!-- template -->
    <div class="container margin-artist-top">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 artist-link">
                <a href="info/franz/#">
                    <img src="../img/Startseite_Franz.jpg" class="img-responsive cheat-sheet-left opacity-start">

                    <div class="artist text-center cheat-sheet-left">
                        <h2 class="header artist-name">Franz Mattuschka</h2>

                        <h3 class="header artist-title">Prozesse</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-offset-2 col-xs-4 artist-link">
                <a href="info/janosch/#">
                    <img src="../img/Startseite_Janosch.jpg" class="img-responsive cheat-sheet-right opacity-start">

                    <div class="artist text-center cheat-sheet-right">
                        <h2 class="header artist-name">Janosch Kunze</h2>

                        <h3 class="header artist-title">Industielle Welten</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="text-center surface-margin">SURFACE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 artist-link">
                <a href="info/thomas/#">
                    <img src="../img/Startseite_Thomas.jpg"
                         class="img-responsive cheat-sheet-left opacity-start">

                    <div class="artist text-center cheat-sheet-left">
                        <h2 class="header artist-name">Thomas Hiebert</h2>

                        <h3 class="header artist-title">Firmenportraits</h3>
                    </div>

                </a>

            </div>
            <div class="col-xs-offset-2 col-xs-4 artist-link">
                <a href="info/regina/#">
                    <img src="../img/Startseite_Regina.jpg" class="img-responsive cheat-sheet-right opacity-start">

                    <div class="artist text-center cheat-sheet-right ">
                        <h2 class="header artist-name">Regina Loy</h2>

                        <h3 class="header artist-title">Mensch und Maschine</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- end template -->
</section>
<section class="second fullscreen screen-right" id="second">
    <!-- template -->
    <div class="container margin-artist-top">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 artist-link">
                <a href="gallery/franz/#">
                    <img src="../img/Startseite_Franz.jpg" class="img-responsive cheat-sheet-left">

                    <div class="artist text-center cheat-sheet-left opacity-start">
                        <h2 class="header artist-name">Franz Mattuschka</h2>

                        <h3 class="header artist-title">Prozesse</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-offset-2 col-xs-4 artist-link">
                <a href="gallery/janosch/#">
                    <img src="../img/Startseite_Janosch.jpg" class="img-responsive cheat-sheet-right ">

                    <div class="artist text-center cheat-sheet-right opacity-start">
                        <h2 class="header artist-name">Janosch Kunze</h2>

                        <h3 class="header artist-title">Industielle Welten</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="text-center surface-margin">SOUSFACE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 artist-link">
                <a href="gallery/thomas/#">
                    <img src="../img/Startseite_Thomas.jpg"
                         class="img-responsive cheat-sheet-left ">

                    <div class="artist text-center cheat-sheet-left opacity-start">
                        <h2 class="header artist-name">Thomas Hiebert</h2>

                        <h3 class="header artist-title">Firmenportraits</h3>
                    </div>

                </a>

            </div>
            <div class="col-xs-offset-2 col-xs-4 artist-link">
                <a href="gallery/regina/#">
                    <img src="../img/Startseite_Regina.jpg" class="img-responsive cheat-sheet-right ">

                    <div class="artist text-center cheat-sheet-right opacity-start">
                        <h2 class="header artist-name">Regina Loy</h2>

                        <h3 class="header artist-title">Mensch und Maschine</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- end template -->
</section>
<section class="third fullscreen screen-left" id="third">
    <!-- template -->
</section>
<section class="fourth fullscreen screen-right" id="fourth">
    <!-- template -->
</section>


<script src="../js/jquery.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/draggabilly.min.js"></script>
<script src="../js/start-setting.js"></script>
<script src="../js/digital-works.js"></script>
</body>
</html>